* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* height: 4rem; */
    /* background-color: aquamarine; */
    /* padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: .5rem; */
}

body {
    max-width: 1200px;
    font-family: open sans
}

header {
    display: flex;
    flex-direction: column;
}

header .logo-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    padding: 1.2rem 0.5rem;
    font-size: 0.7rem;

}

.left-side {
    display: flex;
    justify-content: flex-start;
    ;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.logo-bar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: 2rem;

}


.logo-bar ul li a {
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}

header .button-blu {
    background-color: #0061ff;
    /* border-color: blue; */
    border: none;
    color: white;
    padding: 0.2rem 1rem;
    font-size: 0.7rem;
    /* border-radius: 5px; */
    /* text-decoration: none; */
}


.jumbotrone {
    background-color: #b4d0e7;
    /* height: 500px; */
    /* justify-content: center; */
    display: flex;
    margin-top: ;
    flex-direction: column;
    padding: 0 13rem;
}

.titolo {
    display: flex;
}

.jumbotrone h1 {
    
    font-size: 3.5rem;
    margin-top: 5rem;
    font-family: 'Open Sans extra bold';
  }

.jumbo-text-box {
    /* display: flex;
     */
    margin-top: 2rem;
    width: 40%;
    flex-direction: column;
    position: relative;
}

.jumbo-text-box p{  
    margin-bottom: 1rem;

}

.jumbo-text-box button{  
    margin-bottom: 1rem;
    padding: 0.5rem;
   
}

.fa-arrow-down {
    font-size: 2rem;
}

p.arrow-down{  
    margin-top: 2rem;
}



.jumbo-text-box img {
    position: absolute;
    /* margin-top: 2rem; */
    top: 0%;
    left: 100%;
    width: 35vw;
    min-width: 640px;
}

/* main {
    display: flex;
    flex-direction: column;
    padding: 0 13.5rem;
    margin-top: 10rem;
    height: 4000px;
} */

.container {
    display: flex;
    flex-direction: column;
    padding: 0 13.5rem;
    margin-top: 10rem;
    height: ;
}

.plan-frequency h2 {
    margin-bottom: 2rem;
}

label {
    margin-right: 1rem; ;
}

input[type="radio"] {
    
}

.plan-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-box-title {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #dddde0;
    width: calc((100% / 3) - 2rem);
    max-width: calc((100% / 3) - 2rem);
    border-bottom: 00;
 
}

.feature-box-title h3 {
    font-size: 0.8rem;
    text-align: center;
}

.plan-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}


.info-box {
    display: flex;
    flex-direction: column;
    width: calc((100% / 3) - 2rem);
    max-width: calc((100% / 3) - 2rem);
    
    padding: 1rem;
    border: 1px solid #dddde0;
    flex-wrap: wrap;
    margin-bottom: ;
}

.info-box h4 {
    margin-bottom: 1rem;
    
}

.info-box p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    
}

.type-of-plan {
    color: gray;
    margin-bottom: 6rem;
}


.price {
    font-weight: bold;
}

.info-box ul {
    position: relative;
}

.info-box ul li {
    list-style: none;
    margin: 1.5rem 0rem;
    font-size: 0.8rem;
    padding-left: 1rem;
    position: relative;
   


}

.blue {
    color: #0061ff
}

.icons {
    position: absolute;
    left: 0;
    top: 0.2rem;
}


.info-box .button-blu {
    background-color: #0061ff;
    /* border-color: blue; */
    border: none;
    color: white;
    padding: 0.2rem 1rem;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    /* border-radius: 5px; */
    /* text-decoration: none; */
}

.short-line {
    margin-top: 1.5rem;
    width: 25%;
    height: 1px;
    background-color: gray;
    margin-bottom: 1.5rem;
}

.enterprise-section {
    display: flex;
    /* height: 400px; */
    margin-top: 3rem;
  
    /* padding: 0 13.5rem; */
    justify-content: center;
    border: 1px solid gray;
    width: 100%;}

.feature-box-title-enterprise {
    /* width:  100%;
    text-align: center; */
    padding: 1rem;
    /* border: 1px solid #020d16; */
    font-size: 0.8rem;
   
}

.enterprise-section-info {
    border: 1px solid gray;
    border-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;}

.enterprise-text {
    /* margin-top: 1rem; */
    /* padding: 1rem; */
    width: 70%;
}

.enterprise-text-p {
    font-size: 0.9rem;
    font-weight: bold;
}

.enterprise-info-text {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    
}

.enterprise-button button {
    background-color: #0061ff;
    /* border-color: blue; */
    border: none;
    color: white;
    padding: 0.8rem 1rem;
    font-size: 0.7rem;
    /* border-radius: 5px; */
    /* text-decoration: none; */
}


.find-partner {
    display: flex;
    /* height: 400px; */
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* background-color: rgb(255, 245, 240); */
    /* padding: 0 13.5rem; */
    justify-content: center;
    /* border: 1px solid #020d16; */
    width: 100%;}

.partner-image {
    width: 75%;
}

.find-partner img {
       
width: 100%;  */
object-fit: contain;
    }

.partner-text {
    width: 40%;
    padding: 2rem;
    display: flex;
    justify-content: center;

}

.partner-text-info h3{ 
    margin-bottom: 1rem;
}

.enterprise-text h4 {
    margin-bottom: 0.7rem;
}

.partner-text-info p{ 
    margin-bottom: 1rem;
}

.partner-text-info button {
    background-color: white;
    color: black;
    border: 1px solid;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}

.dropbox-business-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dropbox-business-section h3 {
    margin-bottom: 3rem;
}


.business-operations-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.business-operations-info {
    width: calc((100% / 3) - 2rem);
    
    margin-bottom: 1rem;

}


.business-operations-info img {
    width: 100%;
    height: auto;
    ;
}

.business-operations-info h5 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.business-operations-info  {
    font-size: 0.7rem;
    margin-bottom: 1rem;
}


.other-teams {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.other-teams h2 {
    margin-bottom: 2rem;
}

.other-brands {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.central-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 1rem;
    background-color: #b4d0e7;
    height: 50%;
}

.squared {
    display: flex;
    justify-content: center;
}

.squares {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    
    
}

.central-square {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    background-color: #f5f5f5;
    
    padding: 2rem;
    font-size: 0.7rem;
    
}

.bgyellow {
    background-color: yellow;

}

.bgred {
    background-color: red;
}

.central-square img {
    width: 70%;
    object-fit: contain;
    margin-bottom: 3rem;
}

.central-square p {
    margin-bottom: 1rem;
}

.other-brands {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.other-brands img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    padding: 2rem;
    
}

.bgamaranto {
    background-color: #61082b;
    
}

.bggreen {
    background-color: #a2d39b;
    
}

.bgblue {
    background-color: #0093ce;
}

.bgred {
    background-color: #ff1c1c;
}

.bgrelief {
    background-color: #d5001f;
}

.bgheart {
    background-color: #b4d0e7;
}

.bglonely {
    background-color: #0d2481;
}

.bgclear {
    background-color: #ffd830;
}


.trail-container {
    display: flex;
    background-color: #b4d0e7;
    padding: 0 13.5rem;
    width: 100%;
    
}

    

.trial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.trial h2 {
    /* padding: 2rem; */
    width: 50%;
    margin-top: 2rem;
    font-weight: bold;
    color: #61082b;
}

.trial button {
    padding: 0.4rem;
    border: none;
    padding-inline: 1.5rem;
    background-color: white;
    
}

.faq {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 13.5rem 5rem;
    width: 100%;
}

.faq h2{
    margin-bottom: 2rem
}

.questions {
    
    padding: 1.5rem 0;
}

.single-q {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #020d16;
    
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
}

.footer-nav-bar {
    
    color: white;
    display: flex;
    
}




footer nav { 
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-bottom: 2rem;
}

footer nav ul li {
    list-style: none;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    
}

footer nav ul li a{
    text-decoration: none;
    color: white;
    
}

footer nav ul li:first-child a{
    color: white;
    font-weight: bold;
}


.language {
    color: white;
    border-top: 1px solid white;
    max-width: 20%;
    padding: 2rem 0;
}